 <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Admin Panel</h5>
                <p class="grey-text text-lighten-4">Created to give you fine interface to interact with the data submitted on your website.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Dashboard</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Entries</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Appointments</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Powered by <a href="https://apricopt.com">Apricopt</a>
            <a class="waves-effect waves-light btn right" href="/home">Visit Client Side</a>
            </div>
          </div>
        </footer>
            