 <footer> 
        <div class="footer-area fix" style="background-image: url('/assets/img/zohaib/footer.jpg');">
            <!-- Footer Caption -->
            <div class="footer-caption wow fadeInRight" data-wow-delay=".6s">
                <div class="footer-tittle">
                    <h3>Healthy life<br> is a joy.</h3>
                </div>
                <div class="footer-menu ">
                    <div class="single-menu">
                        <div class="single-menu1">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact</h4>
                                    <div class="footer-pera">
                                        <p>Adress will come here </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-menu2">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Links</h4>
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#"> About Us</a></li>
                                        <li><a href="#"> Our History</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-menu3">
                            <div class="single-footer-caption">
                                <div class="footer-tittle">
                                    <h4>Social</h4>
                                    <!-- Social -->
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fas fa-globe"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
   </footer>