<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/calender.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .calenderheader a {
            text-decoration: none;
            color:wheat;
        }
        .backtohome {
            padding: 5px;
            color:white;
        }
    </style>
</head>
<body>
{{{body}}}


        <script src="/assets/js/calender.js"></script>
</body>
</html>