<h1 class="mt-5 py-5 text-center text-pink">Connect with Us</h1>
<div class="container d-flex justify-content-around col-md-4" >
   <h1 class="text-pink text-center   mt-5"><a target="_blank" href="https://www.instagram.com/thegruendellmethod/?hl=en"><span class="fab fa-instagram"></span></a></h1>



<h1 class="text-pink text-center py-5"><a target="_blank" href=" https://www.facebook.com/thegruendellmethod"><span class="fab fa-facebook"></span></a></h1>
<h1 class="text-pink text-center py-5"><a target="_blank" href="https://www.youtube.com/channel/UCOVuVhqNVm_X8F0GahvvyGg"><span class="fab fa-youtube"></span></a></h1>


</div>
