<main>
            <!-- slider Area Start-->
            <div class="slider-area mt-5 ">
                <!-- Mobile Menu -->
                <div class="single-slider slider-height2 d-flex align-items-center" data-background={{header}}>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap">
                                    <h2>{{courseName}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider Area End-->
            <h4 class="text-pink mt-4 text-center"> Self guided course with an expert teaching you how to quickly and effectively boost your immune system.</h4>



{{!-- description starts --}}
<div class="single-testimonial text-center p-5 m-5">
                                
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="assets/img/icon/testimonial.png" alt="">
                                        <p>{{content}}</p>
                                    </div>
                                </div>
                            </div>
<div>
    <p class="text-center text-pink">Buy Now using paypal</p>
<a href="/subscribe/{{courseNumber}}" class="btn col-md-3 col-6 btn-info mx-auto d-block">
    <span class="paypal-button-title">
      Buy now 
    </span>
    <span class="fab fa-paypal">
    </span>
  </a>

  </div>


{{!-- description ends --}}











            </main>
