<h3 class="text-center text-pink pt-4 mt-3">Shop</h3>
<h1 class="text-center text-green pb-5 my-3">Comming soon</h1>
<h5 class="text-center text-green px-5"> The Online store of curated and self-made health and wellness items that meet The Gruendell Method standards (i.e. homemade lotion, shampoo, deodorant, etc.).
</h5>