<h3 class="pt-5 mt-5"> </h3>
<h3 class="text-center text-pink pt-4 mt-4">Shop</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6  productContainer">
            <h5 class="text-green">Nontoxic deodorant, chemical-free, organic, vegan & healing.</h5>
            <div class="col-md-6 col-12">

            </div>
            <div class="productCard row">

            <div class="col-12 col-md-6">
            <img src="/assets/img/products/product1.jpg" class="productCardImg " alt="">

            </div>
            <div class="col-12 col-md-6">
            <ul>
                <li>Strong enough for the gym</li>
                <li>Safe enough to eat.</li>
                <li>Smart enough to help detox. </li>
            </ul>
            <h6 class="ml-2 mt-3 text-pink">Ingredients</h6>
            <p class="px-1">Aluminum-free baking soda, organic corn starch, unrefined organic coconut oil, bentonite clay, Himalayan crystal salt, coconut oil, shea butter, candelilla wax, zinc, magnesium hydroxide, probiotic blend, Vitamin E,  Essential oils (citrus blend, pine, fir, citronella, tea tree, cilantro</p>

            </div>

            </div>
            <a class="btn btn-success" href="/checkout">Buy Now</a>
        </div>
    </div>
</div>
</h5>
