<h3 class="pt-5 mt-5"> </h3>
                        <div class="section-tittle text-center mb-100">
                            <h2 class=" wow fadeInUp" data-wow-delay=".3s">Shop</h2>
                        </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6  productContainer">
            <h5 class="text-green">Nontoxic deodorant, chemical-free, organic, vegan & healing.</h5>
            <div class="col-md-6 col-12">

            </div>
            <div class="productCard row">

            <div class="col-12 col-md-6">
            <img src="/assets/img/products/product1.jpg" class="productCardImg " alt="">

            </div>
            <div class="col-12 col-md-6 mt-4">
            <ul>
                <li>Strong enough for the gym</li>
                <li>Safe enough to eat.</li>
                <li>Smart enough to help detox. </li>
            </ul>
            <h6 class="ml-2 mt-3 text-pink">Ingredients</h6>
            <p class="px-1">Aluminum-free baking soda, organic corn starch, unrefined organic coconut oil, bentonite clay, Himalayan crystal salt, coconut oil, shea butter, candelilla wax, zinc, magnesium hydroxide, probiotic blend, Vitamin E,  Essential oils (citrus blend, pine, fir, citronella, tea tree,cilantro).</p>

            </div>

            </div>
            <div class=" d-flex justify-content-center">
            <a class="btn btn-success" href="/checkout">Buy Now</a>
            </div>
        </div>
    </div>
</div>
</h5>
